<h2> ADD Drama </h2>


<%= form_for @drama do |f| %>

<%= f.label :name, for: "name" %> <br/>
<%= f.text_field :name, autofocus:true, id: "name" %><br/>

<%= f.label :release_date %> <br/>
<%= f.date_select :release_date, order: [:day, :month, :year] %> <br/>

<%=f.label :language %><br/>
<%=f.select :language, ["English", "Kannada", "Telugu", "Tamil", "Malayalam", "Himdi"], prompt: "Select language"%><br/> 
	
<%= f.label :description, for: "description" %><br/>
<%= f.text_area :description, cols: 25, rows: 5, id: "description" %><br/>

<%= f.submit "Submit"%>

<% end %>
