<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
	<strong> Listing Articles</strong>
	<ul><%= @category.articles do |article| %></ul>
		<li><%= article.name%></li>
	</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
