<h2><%= @subject.subject_name %></h2>

<p>Email : <%= @subject.instructor_id %></p>
<p>Major : <%= @subject.description %></p>

<%= link_to "edit", edit_subject_path(@subject) %> or <%= link_to "back", subjects_path(@subject) %>

<%=link_to "destroy", subject_path(@subject), method: :delete, data: {confirm: "Are you sure?"} %>