<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @movie.summary %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Date watched:</strong>
  <%= @movie.date_watched %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@movie.image_url) %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
