<h2> Add New Product </h2>

<%= form_for @product do |p| %>

	<label> Name </label>
	<%= p.text_field :name %>  <br/>
	<label> Price </label>
	<%= p.text_field :price %>  <br/>
	<label> Category </label>
	<%= p.text_field :category %> <br/>
	
<%= p.submit "Create Product" %>

<% end %>

