<h2><%= @product.name %></h2>

<p>Price : <%= @product.price %></p>
<p>Category : <%= @product.category %></p>

<%= link_to "edit", edit_product_path(@product) %> or <%= link_to "back", products_path(@product) %>

<%=link_to "destroy", product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>